%table{:border => "0", :cellpadding => "0", :cellspacing => "0", :height => "82", :width => "100%", :id => "top_table"}
  %tbody.backdrop_1
    %tr
      %td.top_left_corner{:rowspan => "3", :valign => "top"}
        %img{:height => "1", :width => "240"}/
      %td{:height => "25", :valign => "top", :width => "100%"}
        %input.top_menu_button.but_1{:name => "but_1", :"data-url" => "" , :"data-hover" => "but_1_m", :"data-normal" => "but_1" , :type => "button"}/
        %input.top_menu_button.but_2{:name => "but_2", :"data-url" => change_password_home_index_path , :"data-hover" => "but_2_m", :"data-normal" => "but_2" , :type => "button"}/
        %input.top_menu_button.but_3{:name => "but_3", :"data-url" => bet_list_home_index_path , :"data-hover" => "but_3_m", :"data-normal" => "but_3" , :type => "button"}/
        %input.top_menu_button.but_4{:name => "but_4", :"data-url" => bet_stat_home_index_path , :"data-hover" => "but_4_m", :"data-normal" => "but_4" , :type => "button"}/
        %input.top_menu_button.but_5{:name => "but_5", :"data-url" => "" , :"data-hover" => "but_5_m", :"data-normal" => "but_5" , :type => "button"}/
        %input.top_menu_button.but_6{:name => "but_6", :"data-url" => rule_info_path , :"data-hover" => "but_6_m", :"data-normal" => "but_6" , :type => "button"}/
        %input.top_menu_button.but_7{:name => "but_7", :"data-url" => logout_path , :"data-hover" => "but_7_m", :"data-normal" => "but_7" , :type => "button"}/
    %tr
      %td.T2{:height => "20", :valign => "top"}
        %marquee{:onmouseout => "this.start()", :onmouseover => "this.stop()", :scrollamount => "4", :scrolldelay => "100"}
          %font#Affiche.NewS_Fone{:style => "POSITION: relative; TOP: 2px"} 通知：因重慶時時彩官方20120509018期停止銷售，所有注單一律注銷，如有不便，敬請諒解
    %tr(style="margin-top: -5px;")
      %td#TypeBackdrop.T3{:height => "25", :valign => "top"}
        %span#Type_List{:style => "POSITION: relative; TOP: 5px; LEFT: 13px"}
          - if current_user.is_user?
            = link_to "兩面盤", gaming_path("ball9")
            \&nbsp;|&nbsp;
            = link_to "第一球", gaming_path("ball1")
            \&nbsp;|&nbsp;
            = link_to "第二球", gaming_path("ball2")
            \&nbsp;|&nbsp;
            = link_to "第三球", gaming_path("ball3")
            \&nbsp;|&nbsp;
            = link_to "第四球", gaming_path("ball4")
            \&nbsp;|&nbsp;
            = link_to "第五球", gaming_path("ball5")
            \&nbsp;|&nbsp;
            = link_to "第六球", gaming_path("ball6")
            \&nbsp;|&nbsp;
            = link_to "第七球", gaming_path("ball7")
            \&nbsp;|&nbsp;
            = link_to "第八球", gaming_path("ball8")
            \&nbsp;|&nbsp;
            = link_to "總和、龍虎", gaming_path("ball10")
            \&nbsp;|&nbsp;
            = link_to "連碼", gaming_path("ball11")
