%h1 修改密码

#container(style="width: 450px" )
  = semantic_form_for :user, :url => update_password_home_index_path, :html => {:id => "change_password_form"} do |f|
    = f.input :old_pwd, :as => :password,
              :label => "原密码",
              :input_html => {:class => "required", :minlength => 6, :maxlength => 10, :size => 10}
    = f.input :new_pwd, :as => :password,
              :label => "新密码",
              :input_html => {:class => "required", :minlength => 6, :maxlength => 10, :size => 10}
    = f.input :new_pwd_cfm, :as => :password,
              :label => "再输一次",
              :input_html => {:class => "required", :minlength => 6, :maxlength => 10, :size => 10,
                              :equalto => "#user_new_pwd"}

    = f.actions do
      = f.action :submit
      = link_to "返回", root_path