
%h1 用戶信息

%ul.as_inline_block
  %li
    .li_header #{User.human_attribute_name(:username)}
    .li_value #{@user.username}
  %li
    .li_header #{User.human_attribute_name(:true_name)}
    .li_value #{@user.true_name}
  %li
    .li_header #{User.human_attribute_name(:phone)}
    .li_value #{@user.phone}
  %li
    .li_header #{User.human_attribute_name(:odds_level_name)}
    .li_value #{@user.odds_level_name}
  %li
    .li_header #{User.human_attribute_name(:odds_level_return)}
    .li_value #{@user.odds_level_return}
  %li
    .li_header #{User.human_attribute_name(:return)}
    .li_value #{@user.return}
  %li
    .li_header #{User.human_attribute_name(:total_credit)}
    .li_value #{@user.total_credit}
  %li
    .li_header #{User.human_attribute_name(:available_credit)}
    .li_value #{@user.available_credit}
  %li
    .li_header #{User.human_attribute_name(:user_role)}
    .li_value #{t("label.user_role." + @user.user_role)}
  %li
    .li_header #{User.human_attribute_name(:account_status)}
    .li_value #{t("status.account." + @user.status)}
  %li
    .li_header 當前輸贏：
    .li_value.emphasize  0

%br/

%p
  = link_to "返回" , admin_users_path
  |
  = link_to "修改" , edit_admin_user_path(@user)

%h2 结算信息

%table(id="bet_list")
  %tr
    %td

#pager
