%table{:border => "0", :cellpadding => "0", :cellspacing => "0", :width => "700"}
  %tbody
    %tr
      %td
        %table.Ball_List{:border => "0", :cellpadding => "0", :cellspacing => "1", :width => "175"}
          %tbody
            %tr.Ball_tr_H
              %td.cell_border.Jut_caption_1{:width => "54"} 大
              %td.cell_border{:width => "59"}
                = label_tag "bet[big]", "-", :class => "multiple_Red odds_label", :title => "按此下註", :"data-odds-rule" => "half"
              %td.cell_border{:width => "62"}
                = text_field_tag "bet[big]", nil, :class => "bet_input hidden", :maxlength => 6, :size => 6
                %span.bet_lock 已封盘
            %tr.Ball_tr_H
              %td.cell_border.Jut_caption_1 小
              %td.cell_border{:width => "59"}
                = label_tag "bet[small]", "-", :class => "multiple_Red odds_label", :title => "按此下註", :"data-odds-rule" => "half"
              %td.cell_border{:width => "62"}
                = text_field_tag "bet[small]", nil, :class => "bet_input hidden", :maxlength => 6, :size => 6
                %span.bet_lock 已封盘
            %tr.Ball_tr_H
              %td.cell_border.Jut_caption_1 東
              %td.cell_border{:width => "59"}
                = label_tag "bet[east]", "-", :class => "multiple_Red odds_label", :title => "按此下註", :"data-odds-rule" => "quarter"
              %td.cell_border{:width => "62"}
                = text_field_tag "bet[east]", nil, :class => "bet_input hidden", :maxlength => 6, :size => 6
                %span.bet_lock 已封盘
            %tr.Ball_tr_H
              %td.cell_border.Jut_caption_1 中
              %td.cell_border{:width => "59"}
                = label_tag "bet[middle]", "-", :class => "multiple_Red odds_label", :title => "按此下註", :"data-odds-rule" => "third"
              %td.cell_border{:width => "62"}
                = text_field_tag "bet[middle]", nil, :class => "bet_input hidden", :maxlength => 6, :size => 6
                %span.bet_lock 已封盘
      %td
        %table.Ball_List{:border => "0", :cellpadding => "0", :cellspacing => "1", :width => "175"}
          %tbody
            %tr.Ball_tr_H
              %td.cell_border.Jut_caption_1{:width => "54"} 單
              %td.cell_border{:width => "59"}
                = label_tag "bet[odd]", "-", :class => "multiple_Red odds_label", :title => "按此下註", :"data-odds-rule" => "half"
              %td.cell_border{:width => "62"}
                = text_field_tag "bet[odd]", nil, :class => "bet_input hidden", :maxlength => 6, :size => 6
                %span.bet_lock 已封盘
                
            %tr.Ball_tr_H
              %td.cell_border.Jut_caption_1 雙
              %td.cell_border{:width => "59"}
                = label_tag "bet[even]", "-", :class => "multiple_Red odds_label", :title => "按此下註", :"data-odds-rule" => "half"
              %td.cell_border{:width => "62"}
                = text_field_tag "bet[even]", nil, :class => "bet_input hidden", :maxlength => 6, :size => 6
                %span.bet_lock 已封盘
            %tr.Ball_tr_H
              %td.cell_border.Jut_caption_1 南
              %td.cell_border{:width => "59"}
                = label_tag "bet[south]", "-", :class => "multiple_Red odds_label", :title => "按此下註", :"data-odds-rule" => "quarter"
              %td.cell_border{:width => "62"}
                = text_field_tag "bet[south]", nil, :class => "bet_input hidden", :maxlength => 6, :size => 6
                %span.bet_lock 已封盘
            %tr.Ball_tr_H
              %td.cell_border.Jut_caption_1 發
              %td.cell_border{:width => "59"}
                = label_tag "bet[fa]", "-", :class => "multiple_Red odds_label", :title => "按此下註", :"data-odds-rule" => "third"
              %td.cell_border{:width => "62"}
                = text_field_tag "bet[fa]", nil, :class => "bet_input hidden", :maxlength => 6, :size => 6
                %span.bet_lock 已封盘
      %td
        %table.Ball_List{:border => "0", :cellpadding => "0", :cellspacing => "1", :width => "175"}
          %tbody
            %tr.Ball_tr_H
              %td.cell_border.Jut_caption_1{:width => "54"} 尾大
              %td.cell_border{:width => "59"}
                = label_tag "bet[big]", "-", :class => "multiple_Red odds_label", :title => "按此下註", :"data-odds-rule" => "half"
              %td.cell_border{:width => "62"}
                = text_field_tag "bet[big]", nil, :class => "bet_input hidden", :maxlength => 6, :size => 6
                %span.bet_lock 已封盘
            %tr.Ball_tr_H
              %td.cell_border.Jut_caption_1 尾小
              %td.cell_border{:width => "59"}
                = label_tag "bet[small]", "-", :class => "multiple_Red odds_label", :title => "按此下註", :"data-odds-rule" => "half"
              %td.cell_border{:width => "62"}
                = text_field_tag "bet[small]", nil, :class => "bet_input hidden", :maxlength => 6, :size => 6
                %span.bet_lock 已封盘
            %tr.Ball_tr_H
              %td.cell_border.Jut_caption_1 西
              %td.cell_border{:width => "59"}
                = label_tag "bet[west]", "-", :class => "multiple_Red odds_label", :title => "按此下註", :"data-odds-rule" => "quarter"
              %td.cell_border{:width => "62"}
                = text_field_tag "bet[west]", nil, :class => "bet_input hidden", :maxlength => 6, :size => 6
                %span.bet_lock 已封盘
            %tr.Ball_tr_H
              %td.cell_border.Jut_caption_1 白
              %td.cell_border{:width => "59"}
                = label_tag "bet[white]", "-", :class => "multiple_Red odds_label", :title => "按此下註", :"data-odds-rule" => "third"
              %td.cell_border{:width => "62"}
                = text_field_tag "bet[white]", nil, :class => "bet_input hidden", :maxlength => 6, :size => 6
                %span.bet_lock 已封盘
      %td{:valign => "top"}
        %table.Ball_List{:border => "0", :cellpadding => "0", :cellspacing => "1", :width => "175"}
          %tbody
            %tr.Ball_tr_H
              %td.cell_border.Jut_caption_1{:width => "54"} 合數單
              %td.cell_border{:width => "59"}
                = label_tag "bet[add_odd]", "-", :class => "multiple_Red odds_label", :title => "按此下註", :"data-odds-rule" => "half"
              %td.cell_border{:width => "62"}
                = text_field_tag "bet[add_odd]", nil, :class => "bet_input hidden", :maxlength => 6, :size => 6
                %span.bet_lock 已封盘
            %tr.Ball_tr_H
              %td.cell_border.Jut_caption_1 合數雙
              %td.cell_border{:width => "59"}
                = label_tag "bet[add_even]", "-", :class => "multiple_Red odds_label", :title => "按此下註", :"data-odds-rule" => "half"
              %td.cell_border{:width => "62"}
                = text_field_tag "bet[add_even]", nil, :class => "bet_input hidden", :maxlength => 6, :size => 6
                %span.bet_lock 已封盘
            %tr.Ball_tr_H
              %td.cell_border.Jut_caption_1 北
              %td.cell_border{:width => "59"}
                = label_tag "bet[north]", "-", :class => "multiple_Red odds_label", :title => "按此下註", :"data-odds-rule" => "quarter"
              %td.cell_border{:width => "62"}
                = text_field_tag "bet[north]", nil, :class => "bet_input hidden", :maxlength => 6, :size => 6
                %span.bet_lock 已封盘
