%table.cell_border.Ball_List{:border => "0", :cellpadding => "0", :cellspacing => "1", :width => "174"}
  %tbody
    - rules.each do |rule|
      %tr.Ball_tr_H
        %td#jeu_n_16_283.cell_border.Jut_caption_1{:width => "54", :nowrap => true }
          = label_tag "ball#{ball_id}[#{rule.rule_name}]", rule.rule_title
        %td#jeu_p_16_283.cell_border{:width => "50"}
          = label_tag "ball#{ball_id}[#{rule.rule_name}]", "-", :class => "multiple_Red odds_label", :title => "按此下註", :"data-odds-rule" => "half"
          //= label_tag  rule.rule_name, rule.odds , class: "multiple_Red", title: "按此下註"
        %td#jeu_m_16_283.cell_border{:width => "62"}
          = text_field_tag "ball#{ball_id}[#{rule.rule_name}]", nil, :class => "bet_input hidden", :maxlength => 6, :size => 6, :max => 50000, :"data-odds-rule" => "half"
          %span.bet_lock 封盤
          //= text_field_tag rule.rule_name, nil, :maxlength => "9", :size => 6, :class => "inp1"
