= render :partial => "header"
.span-19
  = form_tag nil, :method => :put, :id => "bet_form" do |f|
    %table{:border => "0", :cellpadding => "0", :cellspacing => "0", :width => "700"}
      %tbody
        %tr
          %td.cell_border.td_caption_1.F_bold{:colspan => "4"} 總和、龍虎
        %tr
          %td.cell_border
            = render :partial => "sum_bet", :locals => {:ball_id => @ball_id, :rules => @sum_bet_big_small_rules }
          %td.cell_border
            = render :partial => "sum_bet", :locals => {:ball_id => @ball_id, :rules => @sum_bet_odd_even_rules }
          %td.cell_border
            = render :partial => "sum_bet", :locals => {:ball_id => @ball_id, :rules => @sum_bet_trail_big_small_rules }
          %td.cell_border
            = render :partial => "sum_bet", :locals => {:ball_id => @ball_id, :rules => @sum_bet_dt_rules }

    %table{:border => "0", :cellpadding => "0", :cellspacing => "0", :width => "700"}
      %tbody
        %tr
          - @sum_balls_1.each do |sum_ball|
            %td
              = render :partial => "sum_ball", :locals => {:ball_title => sum_ball[:ball_name], :ball_no => sum_ball[:ball_no], :ball_rules => sum_ball[:ball_rules]}

    %table{:border => "0", :cellpadding => "0", :cellspacing => "0", :width => "700"}
      %tbody
        %tr
          - @sum_balls_2.each do |sum_ball|
            %td
              = render :partial => "sum_ball", :locals => {:ball_title => sum_ball[:ball_name], :ball_no => sum_ball[:ball_no], :ball_rules => sum_ball[:ball_rules]}
    %table(width="100%" )
      %tbody
        %tr
          %td(align="center")
            %input(type="button" class="reset" value="重填")/
            \&nbsp;
            = submit_tag "投注",:disable_with => "投注中...", :class => "submit_btn"


//= render :partial => "sum_analyst", :locals => {:sum_analyst => @sum_analyst}
#sum_analyst.span-4.pull-30px.last

.sum.span-19
  %table.table_border(width="96%")
    %tbody
      %tr
        %td.td_caption_1.F_bold.sum_detail_menu{:width=>"25%", "data-g" => "big_small_seq" } 總和大小
        %td.td_caption_1.F_bold.sum_detail_menu{:width=>"25%", "data-g" => "odd_even_seq"  } 總和單雙
        %td.td_caption_1.F_bold.sum_detail_menu{:width=>"25%", "data-g" => "trail_big_small_seq"  } 總和尾數大小
        %td.td_caption_2.F_bold.sum_detail_menu{:width=>"25%", "data-g" => "dragon_tiger_seq"  } 總和龍虎

  #sum_detail

