
= content_tag(:div , nil, :id => "info", "data-url" => gaming_path('ball7', :format => :json))

= render :partial => "header"

%table{:border => "0", :cellpadding => "0", :cellspacing => "0", :width => "700"}
  %tbody
    %tr
      %td{:height => "24", :width => "28%"}
        %b#t_LID.Font_G>
        = @ball.game.game_no
        期　
        %b.font_b
          = @ball.ball_name
      %td{:align => "right", :width => "25%"}
        距離封盤：
        %span#hClockTime_C 01:13
      %td{:align => "right", :width => "25%"}
        距離開獎：
        %span#hClockTime_O.Font_R 02:43
      %td{:align => "right", :width => "22%"}
        %span#Update_Time 62&nbsp;秒



%table{:border => "0", :cellpadding => "0", :cellspacing => "0", :width => "700"}
  %tbody
    %tr
      - [(1..5), (6..10), (11..15), (16..20)].each do |balls|
        %td
          = render :partial => "single_ball_table", :locals => {:balls => balls, :ball_no => @ball.ball_no, :ball_odds => @odds_level}

= render :partial => "ball_bet", :locals => {:ball =>@ball, :ball_odds => @odds_level}