
= render :partial => "header"

.span-19
  = form_tag nil, :method => :put , :id => "bet_form"  do |f|
    %table{:border => "0", :cellpadding => "0", :cellspacing => "0", :width => "700"}
      %tbody
        %tr
          - [(1..5), (6..10), (11..15), (16..20)].each do |balls|
            %td
              = render :partial => "single_ball_table", :locals => {:balls => balls, :ball_no => @ball.ball_no, :ball_odds => @odds_level}

    = render :partial => "ball_bet", :locals => {:ball =>@ball, :ball_odds => @odds_level}

    %br/
    %table(width="100%" )
      %tbody
        %tr
          %td(align="center")
            %input(type="button" class="reset" value="重填")/
            \&nbsp;
            = submit_tag "投注", :disable_with => "投注中...", :class => "submit_btn"
    %br/

//= render :partial => "sum_analyst", :locals => {:sum_analyst => @sum_analyst}
#sum_analyst.span-4.pull-30px.last

#ball_sum_analyst.span-19.last
  = render :partial => "a_ball_sum", :locals => {:ball_apprs => @ball_apprs, :ball_no_apprs => @ball_no_apprs, :ball_id => @ball_id, :ball_name => @ball_name}
